@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i');
table.progress td.stable {
  background: #A7CCF2
}

table.progress td.test {
  background: #F2CCA7
}

:link, :visited, dt em, .milestone .info h2 em, #metanav form.trac-logout button, #content.report h3 a em, #content.build h2.config:link, #content.build h2.config:visited, .plugin h3 a {
  color: #004e96;
}

/* To change red of the source path in browser, we need an extra rule to reset the grey (#998) of the first element */
#content.browser h1 :link, #content.browser h1 :visited {
  color: #004e96;
}

#content.browser h1 .first :link, #content.browser h1 .first :visited {
  color: #004e96;
}

.tickets tbody tr.fullrow td, .tickets tbody td.fullrow {
  font-size: 90%
}

.tickets tbody tr.fullrow td, .tickets tbody td.fullrow {
  font-size: 90%;
}

table.tickets tbody tr.fullrow th {
  font-size: 90%;
}

#mainnav {
  background: #eef4fb;
  border: 1px solid #94c0f5;
}

#mainnav .active :link, #mainnav .active :visited {
  background: #004e96;
}

#mainnav :link, #mainnav :visited {
  border: none;
  border-left: 1px solid #a2a2a2;
  color: #004e96;
  font-weight: 500;
}

#mainnav .active :link, #mainnav .active :visited {
  background: #004e96;
  border-right: 0px;
  border-top: none;
  color: #eee;
  font-weight: 500;
}

#mainnav .active :link:hover, #mainnav .active :visited:hover {
  background: #004e96;
  border-right: 0px;
}
#mainnav :link:hover, #mainnav :visited:hover {
  background-color: rgba(1, 70, 137, 0.25);
  border-right: 0px;
}

body, th, tr, input, button, select {
    font: normal 14px "Roboto", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.018em;
  page-break-after: avoid;
}

#mainnav {
    font-family: "Roboto", sans-serif;
}

.suggestions ul {
  font-family: "Roboto", sans-serif;
}

#content.error #traceback :link var, #content.error #traceback :visited var,
#content.error #traceback th var, textarea, tt, code, kbd, samp,
#properties div.trac-resizable, #field-description {
  font-family: "Hack", monospace;
  font-size: 13px;
}

textarea {
  font-size: 13px;
}

h1 {
    font-size: 20px
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px
}

#search input {
    font-size: 13px;
}

.trac-nav, .trac-topnav, p.hint, span.hint, .threading {
    font-size: 90%;
}

.inlinebuttons input {
    font-size: 95%;
}

#ticket table.properties td, #ticket table.properties th {
    font-size: 100%;
}

strong, b, h1, h2, h3, h4, h5, .tickets tr.trac-columns th,
table.listing th.asc a, table.listing th.desc a,
.tickets tbody td.id :link, .tickets tbody td.id :visited,
legend, optgroup, table.listing thead th, #info th, td.ticket {
  font-weight: 500;
}

td.ticket {
  font-weight: 500;
}

.tickets tr.trac-columns th, table.listing thead th, #content.search #results dd.searchable {
  font-size: 14px;
}

sub, .milestone .info .date, #pagepath {
  font-size: 12px;
}

ul#breadcrumbs li:first-child, .tickets .fullrow .meta {
  color: #888;
}

#field-summary {
  padding: .25em .16em;
  width: 100%;
}

table.listing tbody tr:hover {
  background: rgba(1, 70, 137, 0.05) !important;
}

table.listing thead tr, .tickets tr.trac-columns th {
 background: rgba(1, 70, 137, 0.05) !important; 
}

#content.search #results dd.searchable {
  padding: 2px 0px;
}

#content .paging .current, #content .paging :link:hover, #content .paging :visited:hover {
  background: #004e96;
}

#prefs {
  background: #f0f2f7;
  font-size: 11px;
}

#info {
  background: rgba(1, 70, 137, 0.05);
}

#info th, #info td {
  padding: 3px 3px 0px;  
}

#trac-ticket-title a {
  float: left;
}

.ticket h1 span.status {
  margin: 0;
  padding: 0;
  position: relative;
}

.ticket h1 span.status {
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  background: #1a81ff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff !important;
  float: left;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  margin-left: 20px;
  padding: 0 10px 0 12px;
  position: relative;
  text-decoration: none;
}

.ticket h1 span.status:before {
  border-color: transparent #1a81ff transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  content: "";
  float: left;
  height: 0;
  left: -12px;
  position: absolute;
  top: 0;
  width: 0;
}

.ticket h1 span.status:after {
  -moz-border-radius: 2px;
  -moz-box-shadow: -1px -1px 2px #004977;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: -1px -1px 2px #004977;
  background: #fff;
  border-radius: 2px;
  box-shadow: -1px -1px 2px #004977;
  content: "";
  float: left;
  height: 4px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 4px;
}

#ticket {
  background: #eef4fb;
  border: 1px solid #94c0f5;
  clear: both;
}

#ticket .description h3, #ticket .date {
  color: #004e96;
}

#ticket .date a{
  color: #1a81ff;
}

#ticket .description h3 {
  border-bottom: 1px solid #94c0f5;
}

#ticket table.properties {
  border-top: 1px solid #94c0f5;
}

#attachments > div, #changelog {
  border: 1px solid #94c0f5;
}

#ticket table.properties th, legend {
  color: #333;
}

#profile-image {
  filter: brightness(2);
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background: #90cbf3;
}

blockquote.citation {
    border-style: solid;
    border-width: 0 0 0 2px;
    padding-left: .5em;
    border-color: #3382cc;
    font-style: italic;
    color: #AAA;
    margin: 10px 0;
    font-size: .95em;
}

/* parte da frã */

table.listing tbody tr:hover {
    background: rgba(0, 79, 150, 0.12) !important;
}
/* priority: critical & ASAP */
table.tickets tbody tr.even.prio1,table.tickets tbody tr.odd.prio1, table.tickets tbody tr.even.prio2,table.tickets tbody tr.odd.prio2 {
    background: rgba(220, 138, 134,.65);
    border-color: #E58E89;
}
table.listing tbody tr.prio1:hover, table.listing tbody tr.prio2:hover {
    background: rgba(220, 138, 134,1) !important;
}
/* priority: deal */
table.tickets tbody tr.even.prio8,table.listing tbody tr.odd.prio8 { 
    background-color: rgba(255,221,204,.5);
    border-color:#F9C6AC;
}
table.listing tbody tr.prio8:hover {
    background-color: rgba(255,221,204,1) !important
}
/* priority: next */
table.tickets tbody tr.even.prio9,table.listing tbody tr.odd.prio9 { 
    background-color: rgba(255, 245, 204,.5);
    border-color:#F9E9A9;
}
table.listing tbody tr.prio9:hover {
    background-color: rgba(255, 245, 204,1)!important
}
/* priority: redalert */
tr.even.prio10, table.tickets tbody tr.even.prio10, table.listing tbody tr.odd.prio10 { 
    background-color: rgba(255, 163, 151,.5);
    border-color:#F9B4AB;
}
table.listing tbody tr.prio10:hover {
    background-color: rgba(255, 163, 151,1) !important
}
/* priority: afterall */
tr.even.prio12, table.tickets tbody tr.even.prio12, table.listing tbody tr.odd.prio12 {
    background-color: rgba(194, 228, 216,.5);
    border-color: #B4E3D2;
}
table.listing tbody tr.prio12:hover {
    background-color: rgba(194, 228, 216,1) !important
}
/* priority: 13. rejectable */
tr.even.prio13, table.tickets tbody tr.even.prio13, table.listing tbody tr.odd.prio13 {
    background-color: rgba(190, 195, 200,.5);
    border-color: #CCD2DA;
}
table.listing tbody tr.prio13:hover {
    background-color: rgba(180, 190, 200,1) !important
}

/* priority: sprint1 */
table.tickets tbody tr.even.prio3,table.listing tbody tr.odd.prio3 { 
    background-color: rgba(255, 61, 212, .2);
    border-color:rgba(255, 61, 212, .4);
}
table.listing tbody tr.prio3:hover {
    background-color: rgba(255, 61, 212,.5) !important
}
/* priority: sprint2 */
table.tickets tbody tr.even.prio4,table.listing tbody tr.odd.prio4 { 
    background-color: rgba(255, 178, 35,.5);
    border-color: rgba(255, 178, 35,1)
}
table.listing tbody tr.prio4:hover {
     background-color: rgba(255, 178, 35,1) !important
}
/* priority: sprint3 */
table.tickets tbody tr.even.prio5,table.listing tbody tr.odd.prio5 { 
    background-color: rgba(248, 255, 61,.4);
    border-color: rgba(180, 187, 0,.3);
}
table.listing tbody tr.prio5:hover {
    background-color: rgba(248, 255, 61,1) !important
}
/* priority: sprint4 */
table.tickets tbody tr.even.prio6,table.listing tbody tr.odd.prio6 { 
    background-color: rgba(61, 255, 139, .4);
    border-color:rgba(61, 255, 139,1);
}
table.listing tbody tr.prio6:hover {
   background-color: rgba(61, 255, 139,.9) !important
}
/* priority: sprint5 */
table.tickets tbody tr.even.prio7,table.listing tbody tr.odd.prio7 { 
    background-color: rgba(74, 176, 255,.4);
    border-color: rgba(74, 176, 255,.6);
}
table.listing tbody tr.prio7:hover {
    background-color: rgba(74, 176, 255,.8) !important
}

/* Test manager stuff */
.ui-widget-header {
  border: 1px solid #f2f6f9 !important;
  background: #004e96 !important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #6c8dab !important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #004e96 !important;
}

.ui-tabs .ui-tabs-panel {
  height: 400px;
}

table.wiki th {
  background-color: #f0f0f2;
}

input[type=button], input[type=submit], input[type=reset] {
    background: #1a81ff;
    border-radius: .3em;
    border: none;
    color: #fff;
    font-size: .9em;
    padding: .35em .65em;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}
input[value="Reply"], input[value="Edit"], input[value="Preview"]{
    border: solid 1px;
    padding: .25em .75em;
    border-radius: .3em;
    color: #1a81ff;
    background: transparent
}
input[value="Edit"]:hover, input[value="Preview"]:hover{
    border-color: #1a81ff;
    background: #1a81ff;
    color: #fff;
}
input[value="Reply"] {
    color: #ff4800;
}
input[value="Reply"]:hover {
    border-color: #ff4800;
    background: #ff4800;
    color: #fff;
}

legend {
    text-transform: uppercase;
}
#query .option, #query .option input, #query .option select,
#query fieldset, #query fieldset input, #query fieldset select {
    font-size: 13px;
}
input[type=text], input.textwidget, textarea {
    border-radius: .25em;
}

input, textarea, select {
    border-radius: .25em;
    padding: 2px 0;
}
#filters td label {
    font-size: 13px;
}

/* NAV */

.nav ul {
    font-size: 13px;
    padding: .2em 0;
}
#mainnav :link, #mainnav :visited {
    border-left: 1px solid #94c0f5;
    color: #004e96;
    font-weight: 500;
    padding: .4em 1.75em;
    background: none;
}

/* TABELAS */
table.listing thead tr, .tickets tr.trac-columns th {
    background: #eef4fb !important;
}
.tickets tr.trac-columns th {
    border: 1px solid #94c0f5;
    border-bottom-color: #94c0f5;
}
table.listing tbody td, table.listing tbody th {
    border: 1px solid #e2e2e2;
}

/* ALGUNS DETALHES MENORES */

/* Marcador das listas */
li {
  list-style: circle;
  margin: 5px 0;
}

/* Título das mudanças e descrição dos tickets */
h3.change {
  font-weight: normal !important;
}

/* Text area de edição do ticket */
#field-description, #comment {
  resize: none;
  border-radius: 0.25em 0.25em 0 0;
}
div.trac-grip {  
  border-radius: 0 0 0.25em 0.25em;
}

/* Wiki toolbar */
.wikitoolbar {
  border-radius: 0.25em;
}